.header
  color: #fff
  height: 50px
  display: flex
  align-items: center
  max-width: 1080px
  margin: 0 auto
  &-important
    margin-right: 40px
    text-decoration: none
    color: #fff
  &-phone
    margin-right: 40px
    text-decoration: none
    color: #fff
  &-pc
    margin-right: 40px
    text-decoration: none
    color: #fff

.header-color
  background: #1D1D1D
  height: 50px
