.main
  padding-top: 50px
  &-man
  img
  
  &-block
    display: flex
    justify-content: center
    align-items: center
  &-logo
    margin-right: 18px
  &-title
    font-family: 'Cormorant', serif
    font-size: 73px
  &-back__logo
    position: absolute
    top: 80px
    opacity: 25%
